<%@ page language="java" pageEncoding="UTF-8"%>

<!-- Footer -->
<footer class="footer" id="client-footer">
    <div class="hireus">
        <span class="footer-copyright">
            Власник: ${web_store.users.name} ${web_store.users.surname}
            </br></br>
            @ Copyright 2015.
        </span>
        <span class = "attributes-store">
            Адреса магазина: ${web_store.address}
        </span></br>
        <span class = "attributes-store">
            Телефон магазина: ${web_store.phone}
        </span></br>
        <span class = "attributes-store">
            Електронна пошта магазина: ${web_store.email}
        </span>
    </div>
</footer>
